@{
    ViewData["Title"] = "Home";
}

    <div class="row">
        <div class="col">
            <div class="pb-3">
                Junior Developer at Vuzion.
            </div>
            <div class="split">

            </div>
            <div class="pb-3 pt-3">
                My specialisms are C#, JavaScript, Java, Unity3D as well as Mobile Android Development.
                I also have experience with 3D modelling in 3DS Max, and C++.
            </div>
            <div class="pb-3 pt-3">
                Click on games tab to see what is currently in the works, or play a working game.<br />
                Click the applications tab to download an APK or EXE application.
            </div>
            <div class="split">

            </div>
            <div>
                <div class="font-weight-bold">
                    Research Papers
                </div>
                <div>
                    <a href="https://drive.google.com/file/d/1zWqYoTkx12-U44B2uw0334zjJix0H4N1/view?usp=sharing"><u>The Effect Of Menus</u></a>
                </div>
                <div>
                    <a href="https://drive.google.com/open?id=1wsevYvID1UuSETok2hx3yef42Y0pWjo4"><u>Using Neural Evolution to Train an AI in Space Invaders</u></a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <h3>
                Show Reel
            </h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sAJoVY_B2ZM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>

