@font-face {
    font-family: 'MEFont'; /*a name to be used later*/
    src: url('font/me123.ttf'); /*URL to font*/
}

html{
  background: linear-gradient(to bottom right, #2451A0, #091120);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.home{
  background: linear-gradient(to bottom right, #2451A0, #091120);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

body{
  font-family: MEFont;
  color: #C0C0C0;
}

.titleName{
  text-align: left;
  float: left;
  font-size: 20px;
  width: 80%;
}

.titleCart{
  float: right;
  border: solid;
  border-color: silver;
  border-width: thick;
  border-radius: 15px;
  width: 15%;
}

.menu td{
  display: block;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  border-radius: 15px;
}

.menu td a{
  display: block;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: silver;
  border-width: thick;
  border-radius: 15px;
  color: silver;
  text-decoration: none;
}

.menu td a:hover{
  border-color: #2451A0;
  background-color: silver;
  color: #2451A0;
  border-radius: 15px;
}

a{
  color: silver;
  text-decoration: none;
}

a:hover{
  color: grey;
}

.contentMenu{
  margin-top: 2.5%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.contentMenu td{
  text-align: center;
  border-radius: 2.5px;
  border-style: ridge;
  width: 33.333%;
  font-size: 15px;
  font-size: 25px;
}

.contentImage{
  float: left;
  text-align: center;
  margin-top: 2.5%;
  margin-left: 10%;
  width: 40%;
}

.contentTitle{
  margin-top: 2.5%;
  margin-right: 10%;
  width: 40%;
  font-size: 30px;
  text-align: center;
}

.contentDescription{
  margin-right: 10%;
  width: 40%;
  font-size: 20px;
  text-align: left;
}

button{
  background-color: #2451A0;
  font-family: MEFont;
  font-size: 25px;
  color: silver;
  border-radius: 15px;
}

button:hover{
  background-color: silver;
  color: #2451A0;
  border-radius: 15px;
}

button:hover:disabled{
  background-color: silver;
  color: grey;
  border-radius: 15px;
}

button:disabled{
  background-color: silver;
  color: grey;
  border-radius: 15px;
}

.request{
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-top: 2.5%;
  font-size: 25px;
}

.request input{
  width: 50%;
  float: right;
  margin-right: 15%;
  margin-left: -15%;
  font-size: 20px;
}

.disclaimer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
