body{
  background-color: grey;
  font-family: monospace;
  color: white;
}

.titleName{
  text-align: left;
}

.titleCart{
  text-align: right;
}

.menu td{
  display: block;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}

.menu td a{
  display: block;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: white;
  color: white;
  text-decoration: none;
}

.menu td a:hover{
  border-color: grey;
  background-color: white;
  color: grey;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: black;
}

.content{
  margin-top: 2.5%;
  margin-left: 10%;
  margin-right: 10%;
}

.content td{
  text-align: center;
  border-radius: 2.5px;
  border-style: ridge;
  width: 33.333%;
  font-size: 15px;
}
